protocols {
    bgp { 
        group underlay {
            type external;
            multihop;
            advertise-peer-as;
            multipath {
                multiple-as;
            }
            neighbor {{srx_bgp['source_ip']}} {
                local-address {{srx_bgp['dest_ip']}};
                family inet {
                    unicast;
                }
                family evpn {
                    signaling;
                }
                peer-as {{srx_bgp['source_asn']}};
                local-as {{srx_bgp['dest_asn']}};
            }
            vpn-apply-export;
        }
    }
    lldp {
        interface all;
    }
}
