protocols {
    bgp { 
        group underlay {
            type external;
            multihop;
            advertise-peer-as;
            multipath {
                multiple-as;
            }
{% for bgp in srx_bgp %}
            neighbor {{bgp['source_ip']}} {
                local-address {{bgp['dest_ip']}};
                family inet {
                    unicast;
                }
                family evpn {
                    signaling;
                }
                peer-as {{bgp['source_asn']}};
                local-as {{bgp['dest_asn']}};
            }
{% endfor %}
            vpn-apply-export;
        }
    }
    lldp {
        interface all;
    }
}
